.maintenancecontainer{
    background-image: url("../assets/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    .maintenancebox{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
        position: absolute;
        padding:  10px 40px 30px 40px;
        background-color: rgba(238, 238, 238, 0.603);
        width: 200px;
        .buttonbox{
            width: 100px;
            margin: 4px;
            align-items: center;
            flex-direction: row;
        }
        .RunStatus{
            white-space: nowrap;
            border-right: 1px solid rgba(255, 255, 255, 0.082);
            padding: 0px 12px 0px 12px;
            height: 40px;
            background-color: #0078D4;
            display: flex;
            align-items: center;
            color: white;
            cursor: pointer;
            user-select: none;
        }
        .StopStatus{            
            white-space: nowrap;
            border-right: 1px solid rgba(255, 255, 255, 0.082);
            padding: 0px 12px 0px 12px;
            height: 40px;
            background-color: yellow;
            display: flex;
            align-items: center;
            color: black;
            cursor: pointer;
            user-select: none;
        }
    }


}